#recipe-dashboard {
    display: grid;
    grid-template-columns: 0% 15% 15% 5% 30% 30% 5%;
    grid-template-rows: auto;
    gap: 10px 10px;
    grid-template-areas: 
    ". h h . . . ."
    ". a a . b b ."
    ". a a . b b ."
    ". . . . d d .";
    padding-left: 5%;
    padding-right: 5%;
}

li{
    margin: 1em;
}
.directions-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5%;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
}
.ingredient-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
    font-size: 20px;
}

.title-container {
    grid-area: h;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.ingredient-container {
    grid-area: a;
    background-color: rgb(240, 248, 255,0.95);
    border: 1px solid rgb(0,0,0,0.1);
    min-height: 30rem;
    max-height: 100rem;
}


.direction-container {
    grid-area: b;
    padding-bottom: 0%;
    background-color: rgb(240, 248, 255,0.95);
    border: 1px solid rgb(0,0,0,0.1);
    
}

.button-container {
    grid-area: d;
}
